---
layout: orchid
---

{% include lang.html %}

<article class="orchid-article">
  <header class="orchid-article-header">
    <h1 class="orchid-article-title">{{ page.title }}</h1>
    <div class="orchid-article-date">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        작성 {% include orchid-date.html date=page.date format='full' %}
      </time>
      {% if page.last_modified_at %}
        <br>
        <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
          수정 {% include orchid-date.html date=page.last_modified_at format='full' %}
        </time>
      {% endif %}
    </div>
  </header>

  <div class="orchid-content content">
    {% include refactor-content.html content=content lang=lang %}
  </div>
</article>
